/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 dic. 2023, 07:50:49
    Author     : Alumno
*/
#chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 24px;
}

#chat-box {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    background-color: white;
    overflow: auto;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    transition: transform 0.5s;
    transform: translateY(100%);
}

.chat-hidden {
    transform: translateY(0);
}

